---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/gdnbla9utfkg/environments/master
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.13.1; platform ruby/2.7.1; os Linux;
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - W/"1e95ec16999ac69454ed802df145aa2c"
      X-Contentful-Ratelimit-Hour-Limit:
      - '25200'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '25199'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '7'
      X-Contentful-Ratelimit-Second-Remaining:
      - '6'
      X-Contentful-Request-Id:
      - 2b2d3362fa3fc11d9392f47d1202a1fa
      X-Contentful-Route:
      - "/spaces/:space_id/environments/:id"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 11-71421866-71421868 NNNY CT(0 1 0) RT(1612636831312 12) q(0 0 0 -1) r(0 0)
        U5
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "name":"master",
          "sys":{
            "type":"Environment",
            "id":"master",
            "version":1,
            "space":{
              "sys":{
                "type":"Link",
                "linkType":"Space",
                "id":"gdnbla9utfkg"
              }
            },
            "status":{
              "sys":{
                "type":"Link",
                "linkType":"Status",
                "id":"ready"
              }
            },
            "createdBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "createdAt":"2021-01-29T02:24:37Z",
            "updatedBy":{
              "sys":{
                "type":"Link",
                "linkType":"User",
                "id":"1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "updatedAt":"2021-01-29T02:24:37Z"
          }
        }

  recorded_at: Sat, 06 Feb 2021 18:40:32 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces/gdnbla9utfkg/environments/master/content_types/restaurant
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.13.1; platform ruby/2.7.1; os Linux;
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Co[...]
- request:
    method: post
    uri: https://api.contentful.com/spaces/gdnbla9utfkg/environments/master/entries
    body:
      encoding: UTF-8
      string: '{"fields":{"name":{"en-US":"Test"}}}'
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.13.1; platform ruby/2.7.1; os Linux;
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Content-Type:
      - restaurant
      Content-Type-Id:
      - restaurant
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"8553070929140949737"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '25200'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '25198'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '7'
      X-Contentful-Ratelimit-Second-Remaining:
      - '5'
      X-Contentful-Request-Id:
      - bbd0326a7e94e98ef7527ad7cf44e06e
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 14-116934626-116934628 NNNN CT(14 17 0) RT(1612636831533 9) q(0 0 0 -1) r(2
        2) U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "gdnbla9utfkg"
              }
            },
            "id": "2kwXJFVyWVRFXQS5NXz5nN",
            "type": "Entry",
            "createdAt": "2021-02-06T18:40:32.361Z",
            "updatedAt": "2021-02-06T18:40:32.361Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "publishedCounter": 0,
            "version": 1,
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "restaurant"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "Test"
            }
          }
        }
  recorded_at: Sat, 06 Feb 2021 18:40:32 GMT
- request:
    method: put
    uri: https://api.contentful.com/spaces/gdnbla9utfkg/environments/master/entries/2kwXJFVyWVRFXQS5NXz5nN/published
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful-management.rb/2.13.1; platform ruby/2.7.1; os Linux;
      Authorization:
      - "<redacted-request>"
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Version:
      - '1'
      Version:
      - '1'
  response:
    status:
      code: 200
      message: OK
    headers:
      Accept-Patch:
      - application/json-patch+json
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Contentful-Api:
      - cma
      Etag:
      - '"15270190203274896370"'
      X-Contentful-Ratelimit-Hour-Limit:
      - '25200'
      X-Contentful-Ratelimit-Hour-Remaining:
      - '25197'
      X-Contentful-Ratelimit-Reset:
      - '0'
      X-Contentful-Ratelimit-Second-Limit:
      - '7'
      X-Contentful-Ratelimit-Second-Remaining:
      - '4'
      X-Contentful-Request-Id:
      - 116d29d1419aafd30e1034ca9ba2def2
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries/:id/published"
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 6-38584887-38584888 NNNN CT(14 30 0) RT(1612636831562 9) q(0 0 1 -1) r(3 3)
        U5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "gdnbla9utfkg"
              }
            },
            "id": "2kwXJFVyWVRFXQS5NXz5nN",
            "type": "Entry",
            "createdAt": "2021-02-06T18:40:32.361Z",
            "updatedAt": "2021-02-06T18:40:32.610Z",
            "environment": {
              "sys": {
                "id": "master",
                "type": "Link",
                "linkType": "Environment"
              }
            },
            "publishedVersion": 1,
            "publishedAt": "2021-02-06T18:40:32.610Z",
            "firstPublishedAt": "2021-02-06T18:40:32.610Z",
            "createdBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "updatedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "publishedCounter": 1,
            "version": 2,
            "publishedBy": {
              "sys": {
                "type": "Link",
                "linkType": "User",
                "id": "1lUBBvQfTQ278pjoIsK7y6"
              }
            },
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "restaurant"
              }
            }
          },
          "fields": {
            "name": {
              "en-US": "Test"
            }
          }
        }
  recorded_at: Sat, 06 Feb 2021 18:40:33 GMT
recorded_with: VCR 6.0.0
